@font-face {
    font-family: 'Roboto-regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
  }

.main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    max-width: 1920px;
    min-height: 725px;
    
}

.main__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 1170px;
    min-height: 700;
   
}

.text {
    font-family: 'Roboto-regular';
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    line-height: 30px;
    color:white;
    text-align: left;  
}


.img {
    border-radius: 7px;
    

    /* width: 550px;
    height: 340px; */
}

.img_inside {
    max-width: 100%;
    border-radius: 5px;
}