@font-face {
  font-family: 'Roboto-regular';
  src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}


.header {
    max-width: 1920px;
    height: 100px;
    box-sizing: border-box;
  }

  .header__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    height: 100px;
    
  }

  .header__button {
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    color: black;
    min-width: 245px;
    height: 55px;
    border-radius: 10px;
    background: #C8A35F;
  }

  .header__links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
  }

  .link {
    font-family: 'Roboto-regular';
    padding: 0;
    display: inline-block;
    line-height:16.41px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
    text-decoration-line: none;
    color: white;
    transition: 0.3s ease-in;
  }
  .h1 {
    font-family: 'Roboto-regular';
    color:  #C8A35F;
    cursor: pointer;
    font-size: 42px;
    text-decoration: none;
    line-height: 33px;
  }