@font-face {
  font-family: "Cera Pro Bold";
  src: url("../../fonts/Roboto/Cera-pro/Cera\ Pro\ Bold.ttf");
}
@font-face {
  font-family: "Cera Pro Regular";
  src: url("../../fonts/Roboto/Cera-pro/Cera\ Pro\ Regular\ Italic.ttf");
}

.header {
  max-width: 1920px;
  height: 100px;
  box-sizing: border-box;
}

.header__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  height: 100px;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  box-sizing: border-box;
  border: none;
  color: black;
  width: 180px;
  height: 50px;
  border-radius: 30px;
  background: rgb(12, 153, 33);
}
.header__button:hover {
  background: rgb(75, 224, 97);
  transition: 1s;
}

.icon {
  width: 35px;
  height: 35px;
}

.p {
  font-family: "Cera Pro Bold";
  margin: 0;
  padding: 0;
  font-size: 20px;
  
}

.menu {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.link {
  text-align: center;
  font-family: "Cera Pro Bold";
  padding: 0;
  /* display: inline-block; */
  line-height: 16.41px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  list-style: none;
  text-decoration-line: none;
  color: white;
  /* transition: 0.3s ease-in; */
}

/* .link:hover {
  color: #c8a35f;
} */

.active_link {
  text-align: center;
  font-family: "Cera Pro Bold";
  padding: 0;
  /* display: inline-block; */
  line-height: 16.41px;
  font-style: normal;
  font-weight: 10px;
  font-size: 18px;
  line-height: 18px;
  list-style: none;
  text-decoration-line: none;
  color: #c8a35f;
}

.h1 {
  font-family: "Cera Pro Bold";
  color: #c8a35f;
  cursor: pointer;
  font-size: 42px;
  text-decoration: none;
  line-height: 33px;
}

.mobile_btn {
  display: none;
  color: #c8a35f;
}

@media (max-width: 800px) {
  .mobile_btn {
    display: block;
    margin-right: 20px;
    cursor: pointer;
    z-index: 10;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: -100%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #2f343a;
    z-index: 10;
    transition: left 1.5s;
  }

  .active {
    left: 0;
  }

  .link {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .h1 {
    font-family: "Cera Pro Bold";
    color: #c8a35f;
    cursor: pointer;
    font-size: 22px;
    text-decoration: none;
    line-height: 33px;
    padding-left: 20px;
  }

  .header {
    max-width: 1920px;
    height: 70px;
    box-sizing: border-box;
  }
  .header__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    height: 70px;
  }
  .active_link {
    text-align: center;
    font-family: "Cera Pro Bold";
    padding: 0;
    /* display: inline-block; */
    line-height: 16.41px;
    font-style: normal;
    font-weight: 10px;
    font-size: 22px;
    line-height: 18px;
    list-style: none;
    text-decoration-line: none;
    color: #c8a35f;
  }
}
