.lending {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1920px;
    height: 855px;
  }
  
  .lending__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto-bold';
    font-size: 34px;
    color: white;
    max-width: 1100px;
    height: 245px;
    border: 2px solid #C8A35F;
    gap:10px;
  }
  
  .lending_h1 {
    font-family: 'Roboto-bold';
    font-size: 64px;
    line-height: 75px;
    color: white;
    margin: 0 auto;
  
  }
  
  .lending_p {
    font-family: 'Roboto-regular';
    font-size: 18px;
    color: white;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    line-height: 135%ж
    
  }