@font-face {
  font-family: 'Roboto-regular';
  src: url('./fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-bold';
  src: url('./fonts/Roboto/Roboto-Bold.ttf');
}

body {
    margin: 0;
    padding: 0;
}
:root {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #2F343A;
  margin: 0;
  padding: 0;
}

.main {
  max-width: 1170px;
  height: 3495px;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.page {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0;
  background-color: #2F343A;
  padding: 0;
}

.first-line {
  background-color: #C8A35F;
  max-width: 1920px;
  height: 50px;
}




.main-about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  font-family: 'Roboto-bold';
  font-size: 34px;
  color: white;
  max-width: 1100px;
  height: 445px;
  border: 2px solid #C8A35F;
 

}